.ant-form-item-label {
    line-height: 20px
}
.ant-form-item-label label {
    font-size: 13px;
    color: #848484;
    text-transform: uppercase;
}

.ant-form-item-label label::after {
    content: ""
}